.ft-body {
  position: relative !important;
  overflow-y: hidden !important;
}

#ft-tagline {
  color: rgba(0, 0, 255, 1);
  font-size: 112px;
  text-align: center;
}

#ft-container {
  flex: 1;
}

#darkmode {
  background-color: rgba(255, 214, 238, 0.9);
  z-index: 1000000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
